@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
ol,ul {
	list-style:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
	font-size: 16px;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}
h7 {
	font-size: 16px;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
body{
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: white;
	overflow-y: scroll;
	overflow-x: hidden;
	background: url(../back.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	min-width: cover;
	margin: 0;
}
.ie7 body{
	overflow:hidden;
}
a{
	color: white;
	text-decoration: none;
	-webkit-transition: 0.2s color linear;
	-moz-transition: 0.2s color linear;
	transition: 0.2s color linear;
}

#top {
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 20px;
    padding: 20px;
    background: black;
    position: fixed;
    z-index: 10;
    float: center;
}

ul#menu {
	text-transform: uppercase;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 60px;
    list-style: none;
    padding: 20px;
    background: black;
    position: fixed;
    z-index: 1000;
    font-size: 14px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
}
li {
    display:inline;
}
#left {
    margin-left:40px;
    float: left;
}
	#left a {
		-webkit-transition: 0.2s color linear;
		-moz-transition: 0.2s color linear;
		transition: 0.2s color linear;
	}
	#left a:hover {
		color: #bdbdbd;
	}
#center {
    padding: 0 5px 0 5px;
    position: relative;
    width: 100px;
    height: auto;
}
	#center p {
		padding 5px 0 0 0;
	}
#menu button {
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: black;
	position: relative;
	z-index: 1000;
	outline: 0;
	font-size: 16px;
	border: 1px solid #fff;
	padding: 4px 10px;
	cursor: pointer;
	color: #fff;
	transition: 0.2s background-color linear;
	float: right;
	right: 50px;
}
	#menu button:hover {
		background: #bdbdbd;
	}
#contact {
	position: absolute;
	float: right;
	top: 6px;
	bottom: 0;
	right: 40px;
}
#logo {
	position: absolute;
	float: left;
	top: 6px;
	bottom: 0;
	left: 40px;
}

#homesection {
	margin-bottom: 40px;
	width: 100%;
	padding: 15px 15px 15px 15px;
	z-index:10000;
	position: relative;
	background-color: #F0F0F0;
}
	#homesection p {
		color: black;
		font-size: 12px;
		text-align: center;
	}

#homeButtons {
	padding: 0px;
	display: block;
	text-align: center;
}

#homeButtons li {
	display:inline-block;
	height: 300px;
	width: 300px;
	padding: 0 10px 0 10px;
}



html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }

ul#footer {
 clear: both;
 position: relative;
 width: 100%;
 z-index: 1;
 height: 20px;
 margin-top: -40px;
 font-size: 11px;
 text-align: center;
 padding: 10px 10px 10px 10px;
 background-color: black;
 color: white;
 border-top-style: solid;
 border-top-color: gray;
 border-top-width: 1px;
}

#twitter {
	width: 100%;
	height: 30px;
	background-color: black;
	z-index: 1;
	position: relative;
	text-align: center;
}

#toplogo {
	width: 100%;
	height: 40px;
	background-color: black;
	z-index: 1000;
	position: relative;
	text-align: center;
	padding-top: 0px;
}

#content { padding-bottom: 3em; }

#sidemenu {
	float: left;
	width: 15%;
	margin-top: 5%;
	padding-top: 50px;
}
	#sidemenu p {

		font-size: 12px bold;
		color: black;
		padding: 5px 0 10px 50px;
	}


#section {
	margin-top:5%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	width: 75%;
	padding: 15px 15px 15px 15px;
	position: relative;
}
	#section h1 {
		font-size: 20px;
		color: black;
		padding: 15px 15px 15px 15px;
	}
	#section h2 {
		font-size: 16px;
		color: black;
		padding: 15px 15px 15px 15px;
	}
	#section h3 {
		font-size: 12px;
		color: black;
		padding: 0px 0px 0px 0px;
	}
	#section p {
		color: black;
		font-size: 14px;
		padding: 15px 15px 15px 15px;
	}

/*footer {
	position: relative;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	text-align: center;
	padding: 20px;
	z-index: 1000;
	font-size: 14px;
	bottom: 0;
}	*/

/* Media Queries */
@media screen and (max-width: 767px) {
	.container > header{
		text-align: center;
	}
	p.codrops-demos {
		position: relative;
		top: auto;
		left: auto;
	}
}

.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 24s linear infinite 0s;
    -moz-animation: imageAnimation 24s linear infinite 0s;
    -o-animation: imageAnimation 24s linear infinite 0s;
    -ms-animation: imageAnimation 24s linear infinite 0s;
    animation: imageAnimation 24s linear infinite 0s;
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 24s linear infinite 0s;
    -moz-animation: titleAnimation 24s linear infinite 0s;
    -o-animation: titleAnimation 24s linear infinite 0s;
    -ms-animation: titleAnimation 24s linear infinite 0s;
    animation: titleAnimation 24s linear infinite 0s;
}
.cb-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px;
}
.cb-slideshow li:nth-child(1) span {
    background-image: url(../images/logo.svg)
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/1.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/2.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/4.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../images/5.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(../images/6.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation {
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation {
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation {
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation {
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 { font-size: 80px }
}

#purchaseOverlay {
	display: none;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 100000;
	opacity: 0;

	-webkit-transition: 500ms opacity ease;
	-moz-transition: 500ms opacity ease;
	-ms-transition: 500ms opacity ease;
	-o-transition: 500ms opacity ease;
	transition: 500ms opacity ease;
}

	#purchaseContent {
		width: 400px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		padding: 20px 40px;
		background-color: #eee;
		top: 100px;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
	}
	#purchaseClose {
		position: absolute;
		top: 7px;
		left: 8px;
		width: 22px;
		height: 23px;
		background: url("https://a.stripecdn.com/checkout/v3/images/close-gbN3V5bjbhRxDClwGYFQ.png") no-repeat;
		background-size: 100% 100%;
		cursor: pointer;
	}

	#extraInfo {
		position: relative;
		height: 37px;
	}

		#extraInfo > div {
			position: absolute;
			-webkit-transform: translate3d(0,0,0);
			height: 37px;
		}

		#extraInfo > div.left {
			width: 40%;
			right: auto;
		}
		#extraInfo > div.left input {
			border-right: 1px solid #e4e4e4;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		#extraInfo > div.right {
			width: 60%;
			left: 40%;
			right: 0;
		}

		#extraInfo > div.right input {
			border-left-color: transparent;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		#extraInfo input {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 37px;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			-o-box-sizing: border-box;
			box-sizing: border-box;
			background: #fff;
			padding: 0 6px 2px 8px;
			margin: 0;
			font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
			font-size: 15px;
			color: #000;
			-webkit-user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			-o-user-select: text;
			user-select: text;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-appearance: none;
			-webkit-appearance: none;
			-ms-appearance: none;
			-o-appearance: none;
			appearance: none;
			border: 1px solid #cececf;
			border-top-color: #b5b5b6;
			border-bottom-color: #dededf;
			-webkit-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
			-moz-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
			-ms-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
			-o-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
			box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
			-webkit-transition: border-color .15s linear,box-shadow .15s linear;
			-moz-transition: border-color .15s linear,box-shadow .15s linear;
			-ms-transition: border-color .15s linear,box-shadow .15s linear;
			-o-transition: border-color .15s linear,box-shadow .15s linear;
			transition: border-color .15s linear,box-shadow .15s linear;
		}

		#extraInput .left input:focus {
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
			border-color: #7caadd;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			-moz-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			-ms-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			-o-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
		}

		#extraInput .right input:focus {
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
			border-color: #7caadd;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			-moz-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			-ms-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			-o-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
		}

	.quantityContainer {
		margin: 27px 0;
	}

	.quantityContainer > div {
    color: black;
		display: inline-block;
		margin: 0 15px;
		background: white;
		height: 50px;
		width: 50px;
		position: relative;
		vertical-align: top;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		border: 1px solid #cececf;
		border-top-color: #b5b5b6;
		border-bottom-color: #dededf;
		-webkit-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
		-moz-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
		-ms-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
		-o-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
		box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
	}

	.quantityContainer .icon-navigation-black {
		vertical-align: middle;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.quantityContainer > div:not(.qVal) {
		cursor: pointer;
	}

	.quantityContainer > div:not(.qVal):active, .quantityContainer > div:not(.qVal):focus {
		border-color: #7caadd;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
		-moz-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
		-ms-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
		-o-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
		box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

  #purchaseOverlay h4 {
    margin: 20px;
  }

  #amountContainer {
    width: 100px;
  }

  .qVal > * {
    font-size: 35px;
    margin: 0;
    line-height: 45px;
    display: inline-block;
  }

  #purchaseBtnContainer {
		width: 85%;
		position: relative;
		margin: 20px auto;
		height: 37px;
	}

		#purchase {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			display: block;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			-o-box-sizing: border-box;
			box-sizing: border-box;
			padding: 0;
			margin: 0;
			width: 100%;
			height: 37px;
			border: 0;
			text-decoration: none;
			background: #45b1e8;
			background-image: -webkit-linear-gradient(#45b1e8,#3097de);
			background-image: -moz-linear-gradient(#45b1e8,#3097de);
			background-image: -ms-linear-gradient(#45b1e8,#3097de);
			background-image: -o-linear-gradient(#45b1e8,#3097de);
			background-image: -webkit-linear-gradient(#45b1e8,#3097de);
			background-image: -moz-linear-gradient(#45b1e8,#3097de);
			background-image: -ms-linear-gradient(#45b1e8,#3097de);
			background-image: -o-linear-gradient(#45b1e8,#3097de);
			background-image: linear-gradient(#45b1e8,#3097de);
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
			-webkit-font-smoothing: antialiased;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
			cursor: pointer;
			outline: 0;
			font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
			font-weight: bold;
			font-size: 17px;
			color: #fff;
			text-shadow: 0 -1px 0 rgba(46,86,153,0.3);
			-webkit-box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
			-moz-box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
			-ms-box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
			-o-box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
			box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
			-webkit-transition: box-shadow .15s linear;
			-moz-transition: box-shadow .15s linear;
			-ms-transition: box-shadow .15s linear;
			-o-transition: box-shadow .15s linear;
			transition: box-shadow .15s linear;
		}
		#purchase:focus {
			background-image: -webkit-linear-gradient(#328ac3,#277bbe);
			background-image: -moz-linear-gradient(#328ac3,#277bbe);
			background-image: -ms-linear-gradient(#328ac3,#277bbe);
			background-image: -o-linear-gradient(#328ac3,#277bbe);
			background-image: -webkit-linear-gradient(#328ac3,#277bbe);
			background-image: -moz-linear-gradient(#328ac3,#277bbe);
			background-image: -ms-linear-gradient(#328ac3,#277bbe);
			background-image: -o-linear-gradient(#328ac3,#277bbe);
			background-image: linear-gradient(#328ac3,#277bbe);
		}

.active {
	opacity: 1 !important;
}
.hidden {
	display: none !important;
	opacity: 0 !important;
}

.disabled {
	cursor: not-allowed !important;
	border: none !important;
	outline: 0;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
}

button.disabled {
	background: #aaa !important;
}

#spinner {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100;
	color: #fff;
	background: rgba(0,0,0,0.5);
}

.noScroll {
	overflow: hidden;
}

.noRightMargin {
	margin-right: 0 !important;
}

.noLeftMargin {
	margin-left: 0 !important;
}

.invalid {
	outline: 0 !important;
	border-color: #ff7076 !important;
	border-top-color: #ff5c61 !important;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5) !important;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5) !important;
	-ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5) !important;
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5) !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5) !important;
}

.shake {
	-webkit-animation-duration: 400ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-name: panelShakeAnimation;
	-moz-animation-duration: 400ms;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-name: panelShakeAnimation;
}

#sslSeal {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 50px;
}
